# anything related to credentials or secrets
app.yaml
credentials.json
*-credentials.json
google-credentials.json
*-google-credentials.json
*.pub
*.prod.yml
secrets/

# local data or config used for testing
data/

# other stuff no one needs
.DS_Store
stuff.md
